* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background: linear-gradient(to bottom right, #1c1e4a, #74215d);
    min-height: 100vh;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

/* Große Überschrift */
.main-title {
    text-align: center;
    font-size: 48px;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

/* Slideshow */
.slideshow {
    width: 65%;
    background-color: rgba(234, 234, 234, 0.8);
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    height: 400px;
}

.slide-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

/* Liga Buttons auf der rechten Seite */
.liga {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.liga a{
    color:black;
    text-decoration: none;
}

/* Liga Buttons */
.liga-item {
    background-color: rgba(234, 234, 234, 0.8);
    border: 2px solid #333;
    border-radius: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.liga-item:hover {
    background-color: #2a2c6b;
    color: #fff;
}

/* Untere Buttons */
.bottom-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7vh; /* Dynamischer Abstand zur Slideshow */
    margin-bottom: 5vh; /* Gleicher dynamischer Abstand zum unteren Rand */
    width: 90%; /* Adjust the width of the button container */
    margin-left: auto;
    margin-right: auto; /* Center the button container */
}

.bottom-buttons a{
    color: black;
    text-decoration: none;
    width: 23%;
    height: 120px;
}

/* Bottom Items */
.bottom-item {
    width: 100%;
    background-color: rgba(234, 234, 234, 0.8);
    border: 2px solid #333;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

/* Hover-Effekt für untere Buttons */
.bottom-item:hover {
    background-color: #2a2c6b;
    color: #fff;
}

